<% content_for  :left_column do %>
<nav class="navbar navbar-dark bg-dark">
  <div class="container text-center" >
    <h1 class="text-white">All Products</h1>
  </div>
  <div class="container">
    <a class="btn btn-outline-light" href="<%= logout_path %>" data-method="delete">Logout</a>
    <a class="btn btn-outline-light" href="/users/<%= session[:user_id] %>/edit">Edit My info</a>
    <a class="btn btn-outline-light" href="/users/<%= session[:user_id] %>">My Dashboard</a>
  </div>
</nav>
<div>
  <table class="table">
    <thead class="table-primary">
      <th scope="col">Product</th>
      <th scope="col">Seller</th>
      <th scope="col">Date posted</th>
      <th scope="col">Amount</th>
      <th scope="col">Action</th>
    </thead>
    <tbody>
      <% @Products.each do |product| %>
      <tr scope="row">
        <td><%= product.item %></td>
        <td><%= product.seller.name %></td>
        <td><%= product.created_at %></td>
        <td>$<%= product.amount %></td>
        <td><a class="btn btn-outline-success"href="/product/<%= product.id %>" data-method="patch"=>Buy</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
